.carousel-inner img {
      width: 100%;
      height: 100%;
      margin-bottom: 5%;
}
.titulo{
	color: orange;
	font-size: 28px;
}
.espacio{
	margin-top: 5%;
	text-align: center;
}
.logo{
	max-width:100px; 
	margin-top: -5px; 
	margin-right: 5%; 
}
.logo_letra{
	max-width:50%;  
}
.p-blog{
	text-align:left;
}
.imgactividades{
	height: 200px; 
	width: 100%; 
	display: block;
}
